.paginacio {
    margin-top: 20px;
    text-align: center;
}

.pagination-links {
    display: inline-block;
}

.pagination-links nav {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination-links nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-links nav ul li {
    display: inline;
    margin: 0 5px;
}

.pagination-links nav ul li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination-links nav ul li a:hover {
    background-color: #f0f0f0;
}
